* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #BF2EF0;
    color: #fff;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.about {
    padding: 50px 20px;
    background-color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #BF2EF0;
}

h3 {
    font-size: 2rem;
    margin-top: 30px;
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.vision-mission {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.vision, .mission {
    width: 45%;
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 5px solid #BF2EF0;
}

.team-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    background-color: #f9f9f9;
    padding: 20px;
    width: 45%;
    border-left: 5px solid #BF2EF0;
}

.team-member h4 {
    font-size: 1.5rem;
    color: #BF2EF0;
}

footer {
    text-align: center;
    background-color:#BF2EF0 ;
    color: #d9f86a;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p1{
    color:hwb(62 1% 2%);
}